.icon_inner .icon-cell::before {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 0 !important;
    border-radius: 50%;
    border: 2px dashed #FF7468;
    top: -35%;
    left: 37%;
}
.icon_inner .icon-cell{
    position: relative;
    z-index: 1 !important;
}
.icon_inner {
    margin-bottom: 35px;
}
.arrow_inner{
    position: relative;
}
.arrow{
    position: absolute;
    width: 25vw !important;
    top: -50%;
    left: -16%;
}

.btn_custom_sign{
    margin: 30px;
}
.discrip{
    padding: 10px;
}
.section-wrapper3{
    padding-bottom: 90px !important;
}